/* Universal styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
  display: flex;
  background: grey;
}

.item {
  width: 100px;
  height: 100px;
  background: hotpink;
  margin: 10px;
  color: white;
}
