/* Universal styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
  /* height: 500px; */
  display: flex;
  /* flex-direction: column; */
  background: grey;
  /* jc always uses main axis. for rows justify-content positions the children */
  /* justify-content: flex-end; */
  /* justify-content: space-between; */
  /* justify-content: space-evenly; */
  /* al always uses cross axis. for columns align-items positions the children */
  /* align-items: flex-end; */
  /* align-items: flex-start;
  align-items: flex-end; */
  /* flex-wrap: wrap; */
}

.item {
  /* to center a div */
  display: flex;
  justify-content: center;
  align-items: center;

  /* width: 100px; */
  /* flex-basis: 300px; */
  flex: 1;
  height: 100px;
  background: hotpink;
  margin: 10px;
  color: white;
}

/* pseudo selector. could also label each item 1,2,3 */
.item:nth-of-type(1) {
  /* align-self: flex-start; */
  /* order: 2; */
  /* flex-grow: 1; */
  /* flex-shrink: 1; */
}

.item:nth-of-type(2) {
  /* align-self: center; */
  /* order: 3; */
  /* flex-basis: 200px; makes item B bigger. Same as changing width */
  /* flex-grow: 2; */
  /* flex-shrink: 2; */
}

.item:nth-of-type(3) {
  /* align-self: flex-end; */
  /* order: 1; */
  /* flex-grow: 4; */
  /* flex-shrink: 3; */
}
