@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Fredoka', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background: pink;
}

/* remove bullets on all unordered lists */
ul {
  list-style-type: none;
}

.container {
  max-width: 1100px;
  /* center */
  margin: 0 auto;
  padding: 0 30px;
}

.navbar {
  background: gray;
  color: white;
  height: 60px;
}

.navbar .logo {
  font-size: x-large;
  font-weight: bold;
}

/* make a-tag links white */
.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.navbar a:hover {
  color: pink;
}

.navbar .container {
  height: 100%;
  display: flex;
  /* to position logo and a-tag children elements on opposite sides  */
  justify-content: space-between;
  /* center the children elements vertically/cross-axis */
  align-items: center;
}

.navbar ul {
  display: flex;
}

/* space the navbar links from each other */
.navbar ul li {
  margin-left: 20px;
}

.header {
  background: hotpink;
  color: white;
  min-height: 400px;
}

.header h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
}

.header img {
  max-width: 250px;
}

/* text-div and img are the only two children in .header .container */
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.content .container {
  display: flex;
  justify-content: space-between;
}

.box {
  flex: 1;
  background: orange;
  color: white;
  border-radius: 10px;
  margin: 20px 10px;
  box-shadow: 0 3px 5px green;
  padding: 15px 20px;
}

.box .icon {
  margin-right: 10px;
}

/* .content-two .container {
  display: flex;
  justify-content: space-around;
} */

@media (max-width: 768px) {
  .header .container {
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .content .container {
    /* or could change to flex-direction column */
    display: block;
    text-align: center;
  }
}
