@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Fredoka', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background: pink;
}

img {
  object-fit: cover;
  height: 300px;
}

.container {
  max-width: 1100px;
  /* center */
  margin: 0 auto;
  padding: 0 30px;
}
